<style>
    .banner{
        width: 100%;
        height: 191px;
        position: relative;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/newsBanner.png") center no-repeat;
        background-size: 100%;
    }
    .banner_report{
        position: absolute;
        left: 50%;
        top:50%;
        width: 400px;
        height: 78px;
        margin-left: -200px;
        margin-top: -39px;
        text-align: center;
    }
    .banner_report>li{
        color: #ffffff;
        font-size: 34px;
        font-family: "PingFang SC";
    }
    .banner_report>p{
        color: #ffffff;
        font-size: 18px;
        font-weight: 100;
    }
    .dynamic{
        width: 900px;
        margin: 30px auto;
        overflow: hidden;
    }
    .dynamic>li{
        padding-left: 35px;
        margin-top: 30px;
        overflow: hidden;
    }
    .date{
        float: left;
        margin-right: 100px;
        padding-top: 20px;
        text-align: center;
        border-top: 2px solid #2b90ed;
    }
    .date_day{
        font-size: 36px;
        color: #666;
    }
    .date_month{
        font-size: 16px;
        color: #666;
    }
    .dynamic_main{
        float: left;
        width: 700px;
        padding-bottom: 80px;
        border-bottom: 1px dashed #3333;
    }
    .dynamic_title{
        font-size: 24px;
        color: #333333;
        font-weight: normal;
    }
    .dynamic_title>a{
        color: #333333;
        text-decoration: none;
    }
    .dynamic_date{
        margin: 10px 0 40px;
        font-size: 12px;
        color: #bebebe;
    }
    .dynamic_content{
        font-family: "PingFang SC";
        font-size: 11px;
        color: #666666;
        line-height: 18px;
        letter-spacing: 1px;
    }
    .dynamic_content a{
        margin-left: 15px;
        font-size: 13px;
        color: #333333;
        text-decoration: none;
    }

    .getMore{
        width: 100px;
        margin:  30px auto 0;
        padding: 6px 10px;
        border: 1px solid;
        border-radius: 3px;
        text-align: center;
        /*color: #3333;*/
        color: #2b90ed;
        cursor: pointer;
    }
    .getMore:hover{
        width: 100px;
        padding: 6px 10px;
        border: 1px solid;
        border-radius: 3px;
        text-align: center;
        color: #2b90ed;
        cursor: pointer;
    }
    .getMore>span{
        margin-right: 5px;
        display: inline-block;

    }
    .getMore>.rotate {
        transition:1s;
        transform:rotate(90deg) ;
        -ms-transform:rotate(90deg); /* Internet Explorer */
        -moz-transform:rotate(90deg); /* Firefox */
        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
        -o-transform:rotate(90deg); /* Opera */
    }
    .getMore>.rotate1 {
        transition:0.5s;
        transform:rotate(-0deg) ;
        -ms-transform:rotate(-0deg); /* Internet Explorer */
        -moz-transform:rotate(-0deg); /* Firefox */
        -webkit-transform:rotate(-0deg); /* Safari 和 Chrome */
        -o-transform:rotate(-0deg); /* Opera */
    }


    /* 文章页样式*/

    .dynamic_list_main{
        float: left;
        width: 700px;
        padding-bottom: 80px;
    }
    .dynamic_list_content>p{
        margin: 25px 0;
        font-size: 16px;
        color: #666666;
        line-height: 28px;
    }
    .dynamic_list_content_3>p{
        margin: 5px 0;
        text-align: center;
    }
</style>
<div class="banner">
    <ul class="banner_report">
        <li>公司动态</li>
        <p>百泰传媒动态和最近媒体报道</p>
    </ul>
</div>
<ul class="dynamic">
    <li>
        <div class="date">
            <p class="date_day">06</p>
            <p class="date_month">Mar</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./dynamlist_8.html" target="_blank">中国数字营销100人》百泰传媒谢小军：互动效果广告将迎来爆发期，定制互动来推云SaaS服务引领先机</a></h3>
            <p class="dynamic_date">2018_03_06</p>
            <p class="dynamic_content">
                一个行业，无论是在其初始阶段，还是在兴盛时代，都需要一群层出不穷的造梦者和造梦事迹。为此专业的数字营销媒体Fmarketing将联合中公数字营销网（www.zgszyx.com）开启2017年数字营销行业最具影响力的专题《中国数字营销100人》，广发英雄帖，邀请数字营销行业100位商业领袖，煮酒论英雄。同时这也是为投资者和广告主提供100个可供选择和研究的数字营销服务商样本。<a
                        href="./list_8.html" target="_blank">阅读全文</a>
            </p>
        </div>
    </li>
    <li>
        <div class="date">
            <p class="date_day">06</p>
            <p class="date_month">Mar</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./list_7.html" target="_blank">百泰传媒获评2017年度“中国创新企业100强”创始人兼CEO谢小军获评“中国经济十大创新人物”</a></h3>
            <p class="dynamic_date">2018_01_09</p>
            <p class="dynamic_content">
                1月7日，由中国商业联合会、中国商报社和《企业观察报》社联合主办的“2017（第二届）中国创新论坛”在北京隆重举行。国务院参事、科技部原副部长刘燕华、著名经济学家、全国政协委员侯云春、百泰传媒高级产品副总裁徐寅等各界优秀代表齐聚本次论坛，共同探讨了新时代背景下的中国创新新机遇、新愿景。<a
                        href="./list_7.html" target="_blank">阅读全文</a>
            </p>
            <p style="margin-top: 15px;"><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/list.png" width="450"></p>
        </div>
    </li>
    <li>
        <div class="date">
            <p class="date_day">22</p>
            <p class="date_month">Nov</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./list_6.html" target="_blank">中国财经新闻网：流量变现有哪些渠道？来推互动打造广告生态圈</a></h3>
            <p class="dynamic_date">2017_11_22</p>
            <p class="dynamic_content">
                日前，市场研究公司App Annie发布了三季度全球移动互联网报告，其中显示全球用户使用手机软件的总时间，增长了四成。这背后有无数APP的支持，而单纯从拉新到用户盘活的阶段，就很有可能烧光了投资者的资金，能把手握的流量快速稳定变现渠道是每个APP在考虑的问题。全球的营销专家目前正努力打造移动化的业务策略，开发者一边想要变现，一边又在考虑不能影响到用户体验，目前哪些方式是流量变现的不二法宝？<a
                        href="./list_6.html" target="_blank">阅读全文</a>
            </p>
        </div>
    </li>
    <li>
        <div class="date">
            <p class="date_day">15</p>
            <p class="date_month">Sep</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./list_5.html" target="_blank">《用视界成就你》2017陌陌全国巡讲·杭州站</a></h3>
            <p class="dynamic_date">2017_09_15</p>
            <p class="dynamic_content">
                北京时间8月22日，领先的移动社交平台陌陌在美丽的杭州举行“用视界成就你  2017陌陌全国巡讲 杭州站”商业化产品全国巡讲活动。
                <a
                        href="./list_5.html" target="_blank">阅读全文</a>
            </p>
            <p style="margin-top: 15px;"><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/list4.png"></p>
        </div>
    </li>
    <li class="show" style="display: none">
        <div class="date">
            <p class="date_day">28</p>
            <p class="date_month">Jul</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./list_4.html">【喜讯】百泰传媒与嘉丁网络签约陌陌效果广告宁波区代理</a></h3>
            <p class="dynamic_date">2017_07_28</p>
            <p class="dynamic_content">
                7月 27日，百泰传媒与宁波嘉丁网络科技有限公司正式签约陌陌效果广告宁波区代理。嘉丁网络刘总等人与百泰传渠道经理赵东洪举行签约仪式并分发授权牌。<a
                        href="./list_4.html" target="_blank">阅读全文</a>
            </p>
        </div>
    </li>
    <li class="show" style="display: none">
        <div class="date">
            <p class="date_day">31</p>
            <p class="date_month">May</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./list_3.html" target="_blank">【百泰素拓】牛X的团队不需要解释~</a></h3>
            <p class="dynamic_date">2017_05_31</p>
            <p class="dynamic_content">
                走出办公室

                在风景优美的度假村

                如画的自然仙境中

                百泰传媒【第一届勇气素拓】拉开序幕<a
                        href="./list_3.html" target="_blank">阅读全文</a>
            </p>
            <p style="margin-top: 15px;"><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/list6.png" width="450"></p>
        </div>
    </li>
    <li class="show" style="display: none">
        <div class="date">
            <p class="date_day">21</p>
            <p class="date_month">Mar</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./list_2.html" target="_blank">媒介黑马：百泰传媒成为陌陌效果广告浙江地区总代！</a></h3>
            <p class="dynamic_date">2017_03_21</p>
            <p class="dynamic_content">
                自2017年1月1日起，杭州百泰传媒正式获得了陌陌授权，成为陌陌效果广告的浙江省总代理，负责陌陌移动广告在浙江省的销售和推广等，为更多的广告主提供“品效合一”的互联网营销服务。这也是百泰传媒继成为阿里妈妈全国不到10家合作伙伴之后，又一个鲜明的里程碑，更是移动互联网营销服务大军中一匹亮眼的黑马！<a
                        href="./list_2.html" target="_blank">阅读全文</a>
            </p>
            <p style="margin-top: 15px;"><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/list7.png" width="450"></p>
        </div>
    </li>
    <li class="show" style="display: none">
        <div class="date">
            <p class="date_day">06</p>
            <p class="date_month">Jan</p>
        </div>
        <div class="dynamic_main">
            <h3 class="dynamic_title"><a href="./dynamic／list_1.html" target="_blank">【大事记】获千万级A轮融资，DSP公司百泰文化传媒欲深耕电商领域</a></h3>
            <p class="dynamic_date">2017_01_06</p>
            <p class="dynamic_content">
                近年来，广告主投入程序化购买的预算比重不断上升，品友互动大数据研究院发布的数据显示，程序化广告在移动端的发展速度，2014年有350%的增长，2015年有300%的增长。中国程序化购买广告产业生态日益优化，涌现了一批优质的DSP平台，如品友互动、获阿里巴巴战略投资的易传媒、由360收购的聚效。<a
                        href="./list_1.html" target="_blank">阅读全文</a>
            </p>
        </div>
    </li>
    <div class="getMore"><span>+</span>加载更多</div>
</ul>
