<style>
    .navAll {
        width: 100%;
        height: auto;
    }
    .navAll .about {
        width: 1100px;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0; }
    .navAll .about .navUl {
        width: 100%;
        height: 38px;
        margin-top: 22px; }
    .navAll .about .navUl .navli {
        width: 60px;
        text-align: center;
        height: 38px;
        float: left;
        margin-left: 75px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .navAll .about .navUl .navli a {
        font-size: 14px;
        font-weight: normal;
        color: #333333; }
    .navAll .about .navUl .navli:first-child {
        border-bottom: 2px solid red; }
    .navAll .about .aboutTab {
        width: 1100px;
        height: auto; }
    .navAll .about .aboutTab .aboutUs {
        width: 1100px;
        height: auto;
        background: #ffffff;

    }
    .navAll .about .aboutTab .aboutUs .aboutTop {
        width: 110px;
        height: 28px;
        font-size: 20px;
        color: #333333;
        font-weight: normal;
        margin: 50px auto;
        text-align: center; }
    .navAll .about .aboutTab .aboutUs h3 {
        width: 135px;
        height: 28px;
        margin: 50px auto 0;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        text-align: center; }
    .navAll .about .aboutTab .aboutUs p {
        text-align: center;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #666666;
        word-spacing: 20px; }
    .navAll .about .aboutTab .aboutUs .activeImg {
        margin: 45px 0 60px; }
    .navAll .about .aboutTab .aboutUs .activeImg, .navAll .about .aboutTab .aboutUs .activeImg img {
        width: 1100px;
        height: 300px; }
    .navAll .about .aboutTab .devHistory {
        width: 1100px;
        height: auto;
        background: #fff;
        display: none;
    }
    .navAll .about .aboutTab .devHistory h2 {
        width: 110px;
        height: 28px;
        font-size: 20px;
        color: #333333;
        font-weight: normal;
        margin: 50px auto;
        text-align: center; }
    .navAll .about .aboutTab .devHistory p {
        text-align: center;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #666666;
        word-spacing: 20px; }
    .navAll .about .aboutTab .devHistory .timeTree {
        width: 1100px;
        height: auto;
        position: relative;
        top: 0;
        left: 0; }
    .navAll .about .aboutTab .devHistory .timeTree .treeImg {
        width: 118px;
        height: 696px;
        text-align: center;
        padding: 70px 491px 115px;
    }
    .navAll .about .aboutTab .devHistory .timeTree .treeImg img {
        width: 117px;
        height: 696px;
    }
    .navAll .about .aboutTab .devHistory .timeTree .timeDate {
        width: 272px;
        height: auto; }
    .navAll .about .aboutTab .devHistory .timeTree .timeDate h5 {
        font-weight: 400;
        color: #666;
        font-size: 17px; }
    .navAll .about .aboutTab .devHistory .timeTree .timeDate p {
        width: 222px;
        font-size: 17px;
        font-weight: 400;
        color: #2b90ed;
        margin-top: 6px;
    }
    .navAll .about .aboutTab .devHistory .timeTree .timeLeft {
        position: absolute;
        top: 250px;
        left: 193px;
        text-align: right;
    }
    .navAll .about .aboutTab .devHistory .timeTree .timeLeft p{
        width: 272px;
        text-align: right;
    }
    .navAll .about .aboutTab .devHistory .timeTree .timeRight p{
        text-align: left;
    }
    .navAll .about .aboutTab .devHistory .timeTree .timeRight {
        position: absolute;
        top: 181px;
        left: 635px;
        text-align: left;
    }

    .navAll .about .aboutTab .contact {
        width: 1100px;
        height: auto;
        background: #fff;
        display: none;
    }
    .navAll .about .aboutTab .contact h2 {
        width: 110px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        color: #333;
        font-weight: normal;
        margin: 50px auto 30px;
        text-align: center; }
    .navAll .about .aboutTab .contact .contactPeo {
        width: 950px;
        padding: 0 75px;
        height: auto;
    }
    .navAll .about .aboutTab .contact .contactPeo .peo {
        width: 255px;
        float: left;
        position: relative;
        margin-left: 92px;
    }
    .navAll .about .aboutTab .contact .contactPeo .peo h3 {
        position: absolute;
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        font-weight: normal;
        color: #fff;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .navAll .about .aboutTab .contact .contactPeo .peo img {
        width: 255px;
        height: 180px;
    }
    .navAll .about .aboutTab .contact .contactPeo .peo p {
        line-height: 26px;
        font-size: 16px;
        color: #666666;
        margin-top: 35px;
        font-weight: 400;
    }
    .navAll .about .aboutTab .contact .companyAdd {
        margin: 0 auto;
        width: 1100px;
        height: 340px;
        padding-top: 65px;
        padding-bottom: 125px;
        clear: both;
    }
    .navAll .about .aboutTab .contact .companyAdd #companyAdd {
        width: 947px;
        height: 340px;
        margin: 0 auto;
    }

    /*# sourceMappingURL=index.css.map */


</style>
<div class="navAll">
        <nav class="about">
            <ul class="navUl">
                <li class="navli"><a href="javascript:;">关于我们</a></li>
                <li class="navli"><a href="javascript:;">发展历程</a></li>
                <li class="navli"><a href="javascript:;">联系我们</a></li>
                <div style="clear: both;"></div>
            </ul>
            <div class="aboutTab">
                <div class="aboutUs">
                    <h2 class="aboutTop">关于我们</h2>
                    <h3>我们是谁</h3>
                    <p>
                        百泰传媒是全国首家做互动广告平台的技术型公司，成立于2016年7月，专注于互动营销领域，
                        <br/>
                        不断通过产品技术创新来驱动数字营销行业发展。并在短短几年内迅速成长中国最具价值的互联网广告
                        <br/>
                        技术公司，荣获《中国创新企业100强》荣誉。
                    </p>
                    <h3>我们的团队</h3>
                    <p>
                        百泰传媒团队来自百度、阿里巴巴、网易的各领域技术产品专家组成,
                        <br/>
                        运营团队由原聚效360组成，各成员已在广告领域积累了十几年的卓越技术和宝贵经验,
                        <br/>
                        强强联合只为打造国内最领先的互动平台服务商。我们的使命是帮您建立属于自己的互动广告系统,
                        <br/>
                        高效率低成本地实现丰富稳定的广告收益，创造价值。
                    </p>
                    <h3>我们提供什么？</h3>
                    <p>
                        百泰传媒旗下自主研发的互动效果广告平台“来推”开创了互联网广告领域的最新模式，
                        <br/>
                        并凭借多年资源的积累、海量的人本数据、更有意义的咨询服务在互动广告领域飞速发展，
                        <br/>
                        目前，日均覆盖活跃用户突破1500万，月覆盖活跃用户达1.6亿。2018年百泰传媒加大对SaaS 领域投入，
                        <br/>推出“来推云”产品，致力于成为全球第一家做互动广告定制的技术型公司。在产品、技术和服务方面继续提升，
                        <br/>在帮助更多的中小广告公司普及互动广告SaaS应用，让更多的企业从“来推云”SaaS中获益，
                        <br/>持续推动中国互动广告SaaS领域的进步和发展。
                    </p>
                    <div class="activeImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ygfc.png" alt="">
                    </div>
                </div>
                <div class="devHistory">
                    <h2>发展历程</h2>
                    <p>
                        百泰初创4个月就获千万融资，成为阿里妈妈全国不到10家合作伙伴之一，
                        <br/>
                        2017年1月成为陌陌效果广告浙江省总代理，并与网易有道达成战略合作！目前已为国美、 聚美优品、唯品会、
                        <br/>
                        美丽说、美团、大众点评、赶集、一号店、苏泊尔等将近400多家电商、网服类知名品牌提供服务。
                    </p>
                    <div class="timeTree">
                        <div class="treeImg">
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/timeTree.png">
                        </div>
                        <div class="timeDate timeLeft">
                            <h5>2017.4</h5>
                            <p>百泰上线"来推互动"营销平台</p>
                        </div>
                        <div class="timeDate timeLeft" style="top:385px;">
                            <h5>2017.1</h5>
                            <p>百泰与陌陌科技和网易有道</p>
                            <p>达成战略合作关系</p>
                        </div>
                        <div class="timeDate timeLeft" style="top:519px;">
                            <h5>2016.8</h5>
                            <p>百泰成为阿里妈妈全国</p>
                            <p>不到10家合作伙伴之一</p>
                        </div>
                        <div class="timeDate timeLeft" style="top:657px;">
                            <h5>2016.5</h5>
                            <p>聚效被360收购</p>
                        </div>
                        <div class="timeDate timeRight">
                            <h5>2017.5</h5>
                            <p>成立杭州百盟网络科技有限责任公司</p>
                        </div>
                        <div class="timeDate timeRight" style="top:317px;">
                            <h5>2017.2</h5>
                            <p>百泰上线"来购"平台</p>
                        </div>
                        <div class="timeDate timeRight" style="top:453px;">
                            <h5>2016.11</h5>
                            <p>百泰获得天使轮千万投资</p>
                        </div>
                        <div class="timeDate timeRight" style="top:593px;">
                            <h5>2016.6</h5>
                            <p>原聚效团队成立百泰文化传媒</p>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <h2>联系我们</h2>
                    <div class="contactPeo">
                        <div class="peo" style="margin-left:0;">
                            <h3>来推云合作</h3>
                            <div style="width:255px;height:180px;">
                                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/contact-1.png"></div>
                            <p>
                                联系人 ： 王先生
                                <br/>
                                邮箱 ： wanghuan@adbaitai.com
                            </p>
                        </div>
                        <div class="peo">
                            <h3>媒体合作</h3>
                            <div style="width:255px;height:180px;">
                                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/contact-2.png"></div>
                            <p>
                                联系人 ： 孙先生
                                <br/>
                                邮箱 ： sunlihua@adbaitai.com
                            </p>
                        </div>
                        <div class="peo">
                            <h3>广告投放</h3>
                            <div style="width:255px;height:180px;">
                                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/contact-3.png"></div>
                            <p>
                                联系人 ： 王先生
                                <br/>
                                邮箱 ： wanghuan@adbaitai.com
                            </p>
                        </div>
                    </div>
                    <div class="companyAdd">
                        <div id="companyAdd">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>