<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="navAll">
        <nav class="about">
            <ul class="navUl">
                <li class="navli"><a href="javascript:;">关于我们</a></li>
                <li class="navli"><a href="javascript:;">发展历程</a></li>
                <li class="navli"><a href="javascript:;">联系我们</a></li>
            </ul>
            <div class="aboutTab">
                <div class="aboutUs">
                    <h2 class="aboutTop">关于我们</h2>
                    <h3>我们是谁</h3>
                    <p>
                        百泰传媒是全国首家做互动广告平台的技术型公司，成立于2016年7月，专注于互动营销领域，
                        <br/>
                        不断通过产品技术创新来驱动数字营销行业发展。并在短短几年内迅速成长中国最具价值的互联网广告
                        <br/>
                        技术公司，荣获《中国创新企业100强》荣誉。
                    </p>
                    <h3>我们的团队</h3>
                    <p>
                        百泰传媒团队来自百度、阿里巴巴、网易的各领域技术产品专家组成,
                        <br/>
                        运营团队由原聚效360组成，各成员已在广告领域积累了十几年的卓越技术和宝贵经验,
                        <br/>
                        强强联合只为打造国内最领先的互动平台服务商。我们的使命是帮您建立属于自己的互动广告系统,
                        <br/>
                        高效率低成本地实现丰富稳定的广告收益，创造价值。
                    </p>
                    <h3>我们提供什么？</h3>
                    <p>
                        百泰传媒旗下自主研发的互动效果广告平台“来推”开创了互联网广告领域的最新模式，
                        <br/>
                        并凭借多年资源的积累、海量的人本数据、更有意义的咨询服务在互动广告领域飞速发展，
                        <br/>
                        目前，日均覆盖活跃用户突破1500万，月覆盖活跃用户达1.6亿。2018年百泰传媒加大对SaaS 领域投入，
                        <br/>推出“来推云”产品，致力于成为全球第一家做互动广告定制的技术型公司。在产品、技术和服务方面继续提升，
                        <br/>在帮助更多的中小广告公司普及互动广告SaaS应用，让更多的企业从“来推云”SaaS中获益，
                        <br/>持续推动中国互动广告SaaS领域的进步和发展。
                    </p>
                    <div class="activeImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ygfc.png" alt="">
                    </div>
                </div>
                <div class="devHistory">
                    <h2>发展历程</h2>
                    <p>
                        百泰初创4个月就获千万融资，成为阿里妈妈全国不到10家合作伙伴之一，
                        <br/>
                        2017年1月成为陌陌效果广告浙江省总代理，并与网易有道达成战略合作！目前已为国美、 聚美优品、唯品会、
                        <br/>
                        美丽说、美团、大众点评、赶集、一号店、苏泊尔等将近400多家电商、网服类知名品牌提供服务。
                    </p>
                    <div class="timeTree">
                        <div class="treeImg">
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/timeTree.png" alt="">
                        </div>
                        <div class="timeDate timeOne">
                            <h5>2017.4</h5>
                            <p>百泰上线"来推互动"营销平台</p>
                        </div>
                        <div class="timeDate timeTwo">
                            <h5>2017.1</h5>
                            <p>百泰与陌陌科技和网易有道</p>
                            <p>达成战略合作关系</p>
                        </div>
                        <div class="timeDate timeThree">
                            <h5>2016.8</h5>
                            <p>百泰成为阿里妈妈全国</p>
                            <p>
                                不到10家合作伙伴之一
                            </p>
                        </div>
                        <div class="timeDate timeFour">
                            <h5>2016.5</h5>
                            <p>聚效被360收购</p>
                        </div>
                        <div class="timeDate timeFive">
                            <h5>2017.5</h5>
                            <p>成立杭州百盟网络科技有限责任公司</p>
                        </div>
                        <div class="timeDate timeSix">
                            <h5>2017.2</h5>
                            <p>百泰上线"来购"平台</p>
                        </div>
                        <div class="timeDate timeSeven">
                            <h5>2016.11</h5>
                            <p>百泰获得天使轮千万投资</p>
                        </div>
                        <div class="timeDate timeEgiht">
                            <h5>2016.6</h5>
                            <p>原聚效团队成立百泰文化传媒</p>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <h2>联系我们</h2>
                    <div class="contactPeo">
                        <div class="peo">
                            <h3>来推云合作</h3>
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lty.png" alt="">
                            <p>
                                联系人 ： 王先生
                                <br/>
                                邮箱 ： wanghuan@adbaitai.com
                            </p>
                        </div>
                        <div class="peo">
                            <h3>媒体合作</h3>
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/mthz.png" alt="">
                            <p>
                                联系人 ： 孙先生
                                <br/>
                                邮箱 ： sunlihua@adbaitai.com
                            </p>
                        </div>
                        <div class="peo">
                            <h3>广告投放</h3>
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/gghz.png" alt="">
                            <p>
                                联系人 ： 王先生
                                <br/>
                                邮箱 ： wanghuan@adbaitai.com
                            </p>
                        </div>
                        <div class="companyAdd">
                            <div id="companyAdd">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>