.navAll{
  width: 100%;
  height: auto;
  overflow: hidden;
  .about{
    width: 1100px;
    height: 1200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
      .navUl{
        width: 100%;
        height: 38px;
        margin-top: 22px;
        .navli{
          width: 59px;
          height: 38px;
          float: left;
          margin-left: 75px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          a{
            font-size: 14px;
            font-weight: normal;
            color: #333333;
          }
        }
        .navli:first-child{
          border-bottom: 2px solid red;
        }
      }
      .aboutTab{
        width: 1100px;
        height: auto;
        .aboutUs{
          width: 1100px;
          height: auto;
          background: #ffffff;
          position: absolute;
          //display: none;
          .aboutTop{
            width: 110px;
            height: 28px;
            margin-top: 50px;
            font-size: 20px;
            color: #333333;
            font-weight: normal;
            margin: 50px auto;
            text-align: center;
          }
          h3{
            width: 135px;
            height: 28px;
            margin: 50px auto 0;
            font-size: 16px;
            font-weight: 350;
            color: #333333;
            text-align: center;
          }
          p{
            //width: 1100px;
            text-align: center;
            margin-top: 32px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            color: #666666;
            word-spacing: 20px;

          }
          .activeImg{
            margin: 67px 0 59px;
          }
          .activeImg,.activeImg img{
            width: 1100px;
            height: 300px;
          }
        }
        .devHistory{
          width: 1100px;
          height: auto;
          background: #fff;
          position: absolute;
          display: none;
          h2{
            width: 110px;
            height: 28px;
            margin-top: 50px;
            font-size: 20px;
            color: #333333;
            font-weight: normal;
            margin: 50px auto;
            text-align: center;
          }
          p{
            //width: 1100px;
            text-align: center;
            margin-top: 32px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            color: #666666;
            word-spacing: 20px;

          }
          .timeTree{
            width: 1100px;
            height: auto;
            position: relative;
            top: 0;
            left: 0;
            //display: none;
            .treeImg{
              width: 117px;
              height: 696px;
              position: absolute;
              top: 70px;
              left: 45%;
              img{
                width: 117px;
                height: 696px;
              }
            }
            .timeDate{
              width: 272px;
              height: auto;
              h5{
                font-weight: 350;
                color: #666;
                font-size: 17px;
                //text-align: right;
              }
              p{
                font-size: 17px;
                font-weight: 350;
                color: #2b90ed;
                margin-top: 6px;
                text-align: left;
              }
            }
            .timeOne{
              position: absolute;
              top: 246px;
              left: 24%;
              text-align: right;
              h5{
                margin-right: 55px;
              }
            }
            .timeTwo{
              position: absolute;
              top: 380px;
              left: 24%;
              text-align: right;
              h5{
                margin-right: 55px;
              }
            }
            .timeThree{
              position: absolute;
              top: 514px;
              left: 24%;
              text-align: right;
              h5{
                margin-right: 55px;
              }
            }
            .timeFour{
              position: absolute;
              top: 652px;
              left: 24%;
              text-align: right;
              h5{
                margin-right: 55px;
              }
            }
            .timeFive{
              position: absolute;
              top: 176px;
              right: 17%;
            }
            .timeSix{
              position: absolute;
              top: 310px;
              right: 17%;
            }
            .timeSeven{
              position: absolute;
              top: 448px;
              right: 17%;
            }
            .timeEgiht{
              position: absolute;
              top: 588px;
              right: 17%;
            }
          }
        }
        .contact{
          width: 1100px;
          height: auto;
          background: #fff;
          position: absolute;
          display: none;
          h2{
            width: 110px;
            height: 28px;
            margin-top: 50px;
            font-size: 20px;
            color: #333333;
            font-weight: normal;
            margin: 50px auto;
            text-align: center;
          }
          .contactPeo{
            width: 1100px;
            height: auto;
            .peo{
              width: 25%;
              height: 216px;
              float: left;
              position: relative;
              margin-left: 81px;
              h3{
                position: absolute;
                font-size: 20px;
                font-weight: normal;
                color: #fff;
                top: 28%;
                left: 22%;
              }
              img{
                width: 213px;
                height: 145px;
              }
              p{
                line-height: 26px;
                font-size: 16px;
                color: #666666;
                margin-top: 35px;
                font-weight: 350;
              }
            }
          }
          .companyAdd{
            margin: 0 auto;
            width: 1100px;
            height: 340px;
            padding-top: 90px;
            clear: both;
            #companyAdd{
              width: 947px;
              height: 340px;
              margin: 0 auto;
            }
          }
        }
      }


  }
}