<style>
    .lthd-banner {
        width: 100%;
        height: 425px;
        background: url(http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthu-banner.jpg) no-repeat 100% 100%;
    }
    .lthd-banner .lthd-banner-main{
        position: relative;
        width: 1100px;
        height: 425px;
        margin: 0 auto;
    }
    .lthd-banner .lthd-banner-main .img{
        height: 425px;
        width: 740px;
        position: absolute;
        top: 0;
        left: -80px;
    }
    .ltInteractionAll {
        width: 100%;
        background: #fff;
    }
    .ltInteractionAll .ltInteraction {
        width: 1100px;
        margin: 0 auto;
    }
    .ltInteractionAll .ltInteraction h2 {
        font-size: 29px;
        height: 29px;
        line-height: 29px;
        color: #333;
        text-align: center;
        padding-top: 90px;
        font-weight: 400;
    }
    .ltInteractionAll .ltInteraction p {
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        color: #999;
        padding-top: 33px;
        text-align: center;
        font-weight: 300;
    }
    .ltInteractionAll .ltInteraction .family {
        width: 1100px;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    .ltInteractionAll .ltInteraction .family .familyList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        padding-bottom: 70px;
    }
    .ltInteractionAll .ltInteraction .family .familyList img {
        width: 93px;
        height: 93px;
    }
    .ltInteractionAll .ltInteraction .family .familyList h3 {
        margin-top: 24px;
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        color: #333;
        font-weight: normal;
    }
    .ltInteractionAll .ltInteraction .family .familyList p {
        font-size: 14px;
        font-color: #666;
        padding-top: 21px;
    }
    .ltInteractionAll .ltInteraction .family .familyList span {
        color: #666;
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        margin-top: 20px;
    }

    .appSceneAll {
        width: 100%;
        height: 912px;
        background: #fafcfe;
    }
    .appSceneAll .appScene {
        width: 1100px;
        height: 912px;
        margin: 0 auto;
        position: relative;
    }
    .appSceneAll .appScene h2 {
        padding-top: 86px;
        font-size: 29px;
        height: 29px;
        line-height: 29px;
        color: #333;
        font-weight: normal;
        text-align: center;
    }
    .appSceneAll .appScene .sceneLeft {
        width: 605px;
        padding-left: 40px;
        height: 796px;
        float: left;
    }
    .appSceneAll .appScene .sceneLeft .leftListTop {
        width: 100%;
        height: 100%;
    }
    .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl {
        width: 100%;
        height: 647px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 149px;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start; }
    .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .topUlList, .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .bottomUlList {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap; }
    .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .topUlList img, .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .bottomUlList img {
        width: 146px;
        height: 146px;
        opacity: 0.7;
        filter: alpha(opacity=60);
        border-radius: 50%;
        box-shadow: #b2d8ff 0px -1px 4px; }
    .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .topUlList h5,
    .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .bottomUlList h5 {
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        color: #333;
        padding-top: 30px;
        padding-bottom: 60px;
        text-align: center;
        font-weight: 300;
    }
    .appSceneAll .appScene .sceneLeft .leftListBottom {
        width: 100%;
        height: 50%;
    }
    .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl .bottomUlList {
        width: 33%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center; }
    .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl .bottomUlList img {
        width: 146px;
        height: 146px;
    }
    .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl .bottomUlList h5 {
        font-size: 20px;
        color: #333;
        margin-top: 30px;
        text-align: center;
        font-weight: normal;
    }
    .appSceneAll .appScene .sceneRight {
        position: absolute;
        top: 86px;
        right: 5px;
        width: 450px;
        height: 796px;
    }
    .appSceneAll .appScene .sceneRight .phone {
        width: 450px;
        height: 777px;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-bg.png") 0 0 no-repeat;
        background-size: 450px 777px;
        position: relative;
        top: 0;
        left: 0;
    }
    .appSceneAll .appScene .sceneRight .phone .phoneContent {
        width: 228px;
        height: 415px;
        position: absolute;
        top: 185px;
        left: 113.5px;
    }
    .appSceneAll .appScene .sceneRight .phone .phoneContent .contentImg {
        width: 228px;
        height: 415px;
        position: relative;
    }
    /*.appSceneAll .appScene .sceneRight .phone .phoneContent .contentImg .allImg {
        width: 516px;
        height: 415px;
        position: absolute;
    }*/
    .appSceneAll .appScene .sceneRight .phone .phoneContent .contentImg img {
        width: 228px;
        height: 415px;
        /*float: left;*/
    }
    .appSceneAll .appScene .sceneRight .phone .phoneBtn {
        width: 100px;
        height: 25px;
        position: absolute;
        left: 183px;
        bottom: 52px;
        text-align: center;
        font-size: 0;
    }
    .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnLeft, .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnRight {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 14px;
        background: none;
        margin-top: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #79c5ff;
    }
    .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnRight {
        margin-left: 8px;
    }
    .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnActive{
        border: 1px solid #1599ff;
        background: #1599ff;
        width: 24px;
        height: 15px;
    }
    .classExmAll {
        width: 100%;
        height: 890px;
        background: #fff;
    }
    .classExmAll .classExm {
        width: 1100px;
        height: 910px;
        margin: 0 auto;
    }
    .classExmAll .classExm h2 {
        width: 100%;
        text-align: center;
        height: 28px;
        line-height: 28px;
        font-size: 28px;
        font-weight: normal;
        color: #333;
        padding-top: 86px;
        padding-bottom: 90px;
    }
    .classExmAll .classExm .exmDet {
        width: 100%;
        height: 555px;
    }
    .classExmAll .classExm .exmDet .exmDetL, .classExmAll .classExm .exmDet .exmDetC {
        float: left;
        width: 263px;
        height: 559px;
        margin-left: 56px;
        text-align: center;
        -webkit-border-radius: 37px;
        -moz-border-radius: 37px;
        border-radius: 37px;
        -webkit-box-shadow: 1px 1px 52px #e4f0fb;
        -moz-box-shadow: 1px 1px 52px #e4f0fb;
        box-shadow: 1px 1px 52px #e4f0fb;
    }
    .classExmAll .classExm .exmDet .exmDetL img, .classExmAll .classExm .exmDet .exmDetC img {
        width: 263px;
        height: 555px;
    }
    .classExmAll .classExm .exmDet .exmDetL h5, .classExmAll .classExm .exmDet .exmDetC h5 {
        margin-top: 31px;
        font-weight: 300;
        color: #3388ff;
        font-size: 20px;
        height: 20px;
        line-height: 20px;
    }
    .classExmAll .classExm .exmDet .exmDetC {
        margin-left: 80px;
    }
    .classExmAll .classExm .exmDet .exmDetR {
        float: left;
        margin-left: 153px;
        width: 265px;
        height: 559px;
        background: #fff;
    }
    .classExmAll .classExm .exmDet .exmDetR h3 {
        margin-top: 69px;
        height: 32px;
        line-height: 32px;
        font-size: 32px;
        color: #333;
        font-weight: normal;
    }
    .classExmAll .classExm .exmDet .exmDetR h4 {
        margin-top: 50px;
        font-size: 24px;
        height: 24px;
        line-height: 24px;
        color: #666;
        font-weight: normal;
        margin-bottom: 23px;
    }
    .classExmAll .classExm .exmDet .exmDetR .exmLine {
        width: 265px;
        display: block;
        margin-top: 36px;
        height: 1px;
        background: #e6e6e6;
    }
    .classExmAll .classExm .exmDet .exmDetR .detRCont {
        width: 225px;
    }
    .classExmAll .classExm .exmDet .exmDetR .detRCont .pointRate, .classExmAll .classExm .exmDet .exmDetR .detRCont
    .pointPrice, .classExmAll .classExm .exmDet .exmDetR .detRCont .Roi{
        height: 44px;
        line-height: 44px;
        margin-bottom: 3px;
    }
    .classExmAll .classExm .exmDet .exmDetR .detRCont img{
        width: 44px;
        height: 44px;
        vertical-align: top;
    }
    .classExmAll .classExm .exmDet .exmDetR .detRCont .pointRate h5, .classExmAll .classExm .exmDet .exmDetR .detRCont .pointPrice h5, .classExmAll .classExm .exmDet .exmDetR .detRCont .Roi h5 {
        font-size: 20px;
        color: #999;
        margin-left: 12px;
        display: inline-block;
        font-weight: normal;
    }
    .classExmAll .classExm .exmDet .exmDetR .exmDetRBtn {
        width: 140px;
        height: 40px;
        background: #3388ff;
        text-align: center;
        line-height: 40px;
        margin-top: 76px;
        margin-left: 12px;
        border-radius: 2px;
    }
    .classExmAll .classExm .exmDet .exmDetR .exmDetRBtn a {
        color: #fff;
    }
    .classExmAll .classExm .exmDet .exmDetR .exmDetRBtn:hover {
        background: #2b7ded;
    }
    .medieAdvantageALl {
        width: 100%;
        height: 540px;
        background: #fafcfe;
    }
    .medieAdvantageALl .medieAdvantage {
        width: 1100px;
        height: 540px;
        margin: 0 auto;
    }
    .medieAdvantageALl .medieAdvantage h2 {
        width: 120px;
        height: 29px;
        line-height: 29px;
        font-size: 29px;
        font-weight: normal;
        color: #333;
        margin: 0 auto 78px;
        padding-top: 86px;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageImgsecond, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth {
        padding-left: 44px;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageTop {
        width: 462px;
        height: 138px;
        float: left;
        padding-left: 87px;
        border-right: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageTop .AdvantageImg {
        float: left;
        width: 50px;
        height: 50px;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageTop .AdvantageImg img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageTop .Advantagetitle {
        width: auto;
        height: 138px;
        margin-left: 76px;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageTop .Advantagetitle h5 {
        margin-top: 2px;
        font-size: 18px;
        color: #333;
        font-weight: normal;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageTop .Advantagetitle p {
        margin-top: 20px;
        font-size: 14px;
        color: #666;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageImgsecond {
        border-right: none;

    }
    .medieAdvantageALl .medieAdvantage .AdvantageImgthird, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth {
        border-bottom: none;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageImgthird .AdvantageImg, .medieAdvantageALl .medieAdvantage .AdvantageImgthird .Advantagetitle, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth .AdvantageImg, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth .Advantagetitle {
        margin-top: 53px;
    }
    .medieAdvantageALl .medieAdvantage .AdvantageImgfouth {
        border-right: none;
    }

    .partenMediaAll {
        width: 100%;
        background: #ffffff;
    }
    .partenMediaAll .partenMedia {
        width: 1100px;
        margin: 0 auto;
        padding-bottom: 70px;
        text-align: center;
    }
    .partenMediaAll .partenMedia h2 {
        font-size: 29px;
        height: 29px;
        line-height: 29px;
        font-weight: normal;
        color: #333;
        text-align: center;
        padding-top: 86px;
    }
    .partenMediaAll .partenMedia img {
        width: 1040px;
        height: 305px;
        margin-top: 50px;
    }

    .requireAddAll {
        width: 100%;
        height: 285px;
        padding-top: 120px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/sqrz.png") 0 0 no-repeat;
        background-size: 100% 285px;
        margin: 0 auto;
    }
    .requireAddAll .requireAdd {
        width: 234px;
        height: 67px;
        line-height: 67px;
        text-align: center;
        background: #3388ff;
        margin: 0 auto;
        border-radius: 2px;
        overflow: hidden;
    }
    .requireAddAll .requireAdd a {
        display: block;
        width: 234px;
        height: 67px;
        line-height: 67px;
        color: #fff;
        font-size: 23px;
        font-weight: 300;
        border-radius: 2px;
        text-align: center;
    }
    .requireAddAll .requireAdd:hover {
        background-color: #1674f7;
    }
    .lthd-banner .lt-banner-main-txt{
        margin-left: 535px;
        width: 565px;
        height: 295px;
        padding-top: 130px;
    }
    .lthd-banner .lt-banner-main-txt .txt-1{
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 48px;
        color: #333;
    }
    .lthd-banner .lt-banner-main-txt .txt-2{
        margin-top: 26px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        color: #333;
        font-weight: 300;
    }
    .lthd-banner .lt-banner-main-txt .txt-btn{
        width: 120px;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
        color: #333;
        text-align: center;
        margin-top: 44px;
        border: solid 1px #333;
    }
    .swiper-container{
        width: 228px;
        height: 550px;
    }
    .swiper-container .swiper-pagination{
        bottom: 16px;
        height: 16px;
    }
    .swiper-container .swiper-pagination .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        border-radius: 14px;
        background-color: rgba(255,255,255,0);
        border: 1px solid #79c5ff;
        opacity: 1;
    }
    .swiper-container .swiper-pagination .swiper-pagination-bullet-active{
        background-color: #1599ff;
        border: 1px solid #1599ff;
        width: 24px;
        height: 15px;

    }
</style>
<div class="lthd-banner">
    <div class="lthd-banner-main">
        <div class="img"><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-pic.png" width="740px"></div>
        <div class="lt-banner-main-txt">
            <div class="txt-1">我们更懂移动流量变革</div>
            <div class="txt-2">来推互动-移动流量变现服务商</div>
            <div class="txt-btn">我要合作</div>
        </div>
    </div>
</div>
<!--来推互动-->
<div class="ltInteractionAll">
    <div class="ltInteraction">
        <h2>来推互动</h2>
        <p>来推互动精准定位目标人群，通过游戏互动等形式深入到用户移动手机使用场景中。目前来推互动月活动用户3亿，日曝光15亿，新增媒体15000家，合作客户遍布全国。</p>
        <div class="ltInteractionDet">
            <ul class="family">
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/xs.png" alt="">
                    <h3>形式丰富</h3>
                    <span>多种游戏互动形式，用户0反感</span>
                </li>
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dw.png" alt="">
                    <h3>精准定位</h3>
                    <span>大数据精准投放，提高广告效率</span>
                </li>
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/zy.png" alt="">
                    <h3>强势资源</h3>
                    <span>直采顶级优质流量，日曝光15亿</span>
                </li>
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/js.png" alt="">
                    <h3>技术支持</h3>
                    <span>数据智能监测，一站式优化分析</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--应用场景-->
<div class="appSceneAll">
    <div class="appScene">
        <h2>应用场景</h2>
        <div class="sceneLeft">
            <div class="leftListTop">
                <ul class="listTopUl">
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hd1.png"
                             style="opacity:1;boxShadow:'rgba(43,122,254,0.3) 0px 0px 13px 2px'">
                        <h5>互动广告</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ds1.png">
                        <h5>电商中心</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/game1.png">
                        <h5>游戏中心</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/jhy1.png">
                        <h5>导航页</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dz1.png">
                        <h5>内涵段子</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sceneRight">
            <div class="phone">
                <!--互动广告-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <div id="swiperHD" class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-hd-1.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-hd-2.png">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <!--电商中心-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-ds.png">
                    </div>
                </div>
                <!--游戏中心-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-yx.png">
                    </div>
                </div>
                <!--导航页-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <div id="swiperDH" class="swiper-container" style="overflow: hidden;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-dh-1.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-dh-2.png">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <!--内涵段子-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/lthd-yycj-nh.png">
                    </div>
                </div>

                <!--<div class="phoneBtn">
                    <span class="btnLeft btnActive"></span>
                    <span class="btnRight"></span>
                </div>-->
            </div>
        </div>
    </div>
</div>

<!--经典案例-->
<div class="classExmAll">
    <div class="classExm">
        <h2>经典案例</h2>
        <div class="exmDet">
            <div class="exmDetL">
                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/alzjy.png" alt="">
                <h5>中奖页</h5>
            </div>
            <div class="exmDetC">
                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/alldy.png" alt="">
                <h5>广告落地页</h5>
            </div>
            <div class="exmDetR">
                <h3>案例:电商行业</h3>
                <span class = "exmLine"></span>
                <h4>推广效果</h4>
                <div class="detRCont">
                    <div class="pointRate">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/djl.png"> <h5>点击率: 40.63%</h5>
                    </div>
                    <div class="pointPrice">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/djdj.png"> <h5>点击单价: 0.35元</h5>
                    </div>
                    <div class="Roi">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/roi.png"> <h5>ROi: 1 : 5.2</h5>
                    </div>
                </div>
                <div class="exmDetRBtn">
                    <a href="./completeCase.html">了解更多</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!--媒体优势-->
    <div class="medieAdvantageALl">
        <div class="medieAdvantage">
            <h2>媒体优势</h2>
            <div class="AdvantageTop">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/rhcj.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>融合场景 交互愉悦</h5>
                    <p>聚集海量福利，用户主动参与，交互愉悦无干扰</p>
                </div>
            </div>
            <div class="AdvantageTop AdvantageImgsecond">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hlgg.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>海量广告 高效收益</h5>
                    <p>具备海量广告主资源，确保高效收益</p>
                </div>
            </div>
            <div class="AdvantageTop AdvantageImgthird">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/wfff.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>玩法丰富 接入灵活</h5>
                    <p>多样的玩法可指定广告位入口，如活动中心等</p>
                </div>

            </div>
            <div class="AdvantageTop AdvantageImgfouth">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ytdj.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>一天对接 结算可靠</h5>
                    <p>快速接入，定期结算，贴心的VIP服务</p>
                </div>

            </div>
        </div>
    </div>
<!--合作媒体-->
<div class="partenMediaAll">
    <div class="partenMedia">
        <h2>合作媒体</h2>
        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hzmt.png" alt="">
    </div>
</div>
<!--申请入驻-->
<div class="requireAddAll">
    <div class="requireAdd">
        <a href="javascript:;">申请入驻</a>
    </div>
</div>
<script src = '//oss.ltcdn.cc/Website/Js/swiper-3.4.2.jquery.min.js'></script>