<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="navImg">
    <img src="../images/" alt="">
</div>
<!--来推互动-->
<div class="ltInteractionAll">
    <div class="ltInteraction">
        <h2>
            来推互动
        </h2>
        <p>来推互动精准定位目标人群，通过游戏互动等形式深入到用户移动手机使用场景中。目前来推互动月活动用户3亿，日曝光15亿，新增媒体15000家，合作客户遍布全国。</p>
        <div class="ltInteractionDet">
            <ul class="family">
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/xs.png" alt="">
                    <h3>形式丰富</h3>
                    <span>多种游戏互动形式，用户0反感</span>
                </li>
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dw.png" alt="">
                    <h3>精准定位</h3>
                    <span>大数据精准投放，提高广告效率</span>
                </li>
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/zy.png" alt="">
                    <h3>强势资源</h3>
                    <span>直采顶级优质流量，日曝光15亿</span>
                </li>
                <li class="familyList">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/js.png" alt="">
                    <h3>技术支持</h3>
                    <span>数据智能监测，一站式优化分析</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--应用场景-->
<div class="appSceneAll">
    <div class="appScene">
        <h2>应用场景</h2>
        <div class="sceneLeft">
            <div class="leftListTop">
                <ul class="listTopUl">
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hd1.png" alt="">
                        <h5>互动广告</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ds1.png" alt="">
                        <h5>电商中心</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/game1.png" alt="">
                        <h5>游戏中心</h5>
                    </li>
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/jhy1.png" alt="">
                        <h5>导航页</h5>
                    </li>
                    <!--<li class="bottomUlList">-->
                    <!--<img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dz1.png" alt="">-->
                    <!--<h5>电商中心</h5>-->
                    <!--</li>-->
                    <li class="topUlList">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dz1.png" alt="">
                        <h5>内涵段子</h5>
                    </li>
                </ul>
            </div>
            <!--<div class="leftListBottom">-->
                <!--<ul class="listBottomUl">-->
                    <!--<li class="bottomUlList">-->
                        <!--<img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/jhy1.png" alt="">-->
                        <!--<h5>导航页</h5>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li class="bottomUlList">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dz1.png" alt="">&ndash;&gt;-->
                        <!--&lt;!&ndash;<h5>电商中心</h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li class="bottomUlList">-->
                        <!--<img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dz1.png" alt="">-->
                        <!--<h5>内涵段子</h5>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
        <div class="sceneRight">
            <div class="phone">
                <!--互动广告-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <div class="allImg">
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hdyx.png" alt="">
                            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hdyx1.png" alt="">
                        </div>
                    </div>
                </div>
                <!--电商中心-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dszx.png" alt="">
                    </div>
                </div>
                <!--游戏中心-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/yxzx.png" alt="">
                    </div>
                </div>
                <!--导航页-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dhy.png" alt="">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dhy1.png" alt="">
                    </div>
                </div>
                <!--内涵段子-->
                <div class="phoneContent">
                    <div class="contentImg">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/nhdz1.png" alt="">
                    </div>
                </div>

                <div class="phoneBtn">
                    <span class="btnLeft"></span>
                    <span class="btnRight"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--经典案例-->
<div class="classExmAll">
    <div class="classExm">
        <h2>经典案例</h2>
        <div class="exmDet">
            <div class="exmDetL">
                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/alzjy.png" alt="">
                <h5>中奖页</h5>
            </div>
            <div class="exmDetC">
                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/alldy.png" alt="">
                <h5>广告落地页</h5>
            </div>
            <div class="exmDetR">
                <h3>案例:电商行业</h3>
                <span class = "exmLine"></span>
                <h4>推广效果</h4>
                <div class="detRCont">
                    <div class="pointRate">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/djl.png" alt=""> <h5>点击率: 40.63%</h5>
                    </div>
                    <div class="pointPrice">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/djdj.png" alt=""> <h5>点击单价: 0.35元</h5>
                    </div>
                    <div class="Roi">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/roi.png" alt=""><h5>ROi: 1 : 5.2</h5>
                    </div>
                </div>
                <div class="exmDetRBtn">
                    <a href="">了解更多</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!--媒体优势-->
    <div class="medieAdvantageALl">
        <div class="medieAdvantage">
            <h2>媒体优势</h2>
            <div class="AdvantageTop">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/rhcj.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>融合场景 交互愉悦</h5>
                    <p>聚集海量福利，用户主动参与，交互愉悦无干扰</p>
                </div>
            </div>
            <div class="AdvantageTop AdvantageImgsecond">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/hlgg.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>海量广告 高效收益</h5>
                    <p>具备海量广告住资源，确保高效收益</p>
                </div>
            </div>
            <div class="AdvantageTop AdvantageImgthird">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/wfff.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>玩法丰富 接入灵活</h5>
                    <p>多样的玩法课指定广告位入口，如活动中心等</p>
                </div>

            </div>
            <div class="AdvantageTop AdvantageImgfouth">
                <div class="AdvantageImg">
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ytdj.png" alt="">
                </div>
                <div class="Advantagetitle">
                    <h5>一天对接 结算可靠</h5>
                    <p>快速接入，定期结算，贴心的VIP服务</p>
                </div>

            </div>
        </div>
    </div>
<!--合作媒体-->
<div class="partenMediaAll">
    <div class="partenMedia">
        <h2>合作媒体</h2>
        <img src="" alt="">
    </div>
</div>
<!--申请入驻-->
    <div class="requireAddAll">
        <div class="requireAdd">
            <a href="">申请入驻</a>
        </div>
    </div>
</body>
</html>