.navImg {
  width: 100%;
  height: 200px; }

.ltInteractionAll {
  width: 100%;
  height: 507px;
  background: #ffffff;
  overflow: hidden; }
  .ltInteractionAll .ltInteraction {
    width: 1100px;
    height: 507px;
    margin: 0 auto; }
    .ltInteractionAll .ltInteraction h2 {
      font-size: 29.5px;
      font-weight: normal;
      color: #333333;
      text-align: center;
      padding-top: 99px; }
    .ltInteractionAll .ltInteraction p {
      font-size: 14px;
      color: #999999;
      padding-top: 35px;
      text-align: center; }
    .ltInteractionAll .ltInteraction .family {
      width: 1100px;
      height: 240px;
      display: flex;
      justify-content: space-between;
      margin-top: 90px; }
      .ltInteractionAll .ltInteraction .family .familyList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        height: 240px; }
        .ltInteractionAll .ltInteraction .family .familyList img {
          width: 93px;
          height: 93px; }
        .ltInteractionAll .ltInteraction .family .familyList h3 {
          margin-top: 25px;
          font-size: 18px;
          color: #333333;
          font-weight: normal; }
        .ltInteractionAll .ltInteraction .family .familyList p {
          font-size: 14px;
          font-color: #666;
          padding-top: 21px; }

.appSceneAll {
  width: 100%;
  height: 912px; }
  .appSceneAll .appScene {
    width: 1100px;
    height: 912px;
    background: #fafcfe;
    margin: 0 auto; }
    .appSceneAll .appScene h2 {
      margin-top: 86px;
      font-size: 29.5px;
      color: #333333;
      text-align: center; }
    .appSceneAll .appScene .sceneLeft {
      width: 55%;
      height: 796px;
      background: #b6b6b6;
      float: left; }
      .appSceneAll .appScene .sceneLeft .leftListTop {
        width: 100%;
        height: 100%; }
        .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          padding-top: 149px;
          align-items: flex-start;
          align-content: flex-start;
          justify-content: flex-start; }
          .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .topUlList, .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .bottomUlList {
            width: 33%;
            height: 32%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap; }
            .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .topUlList img, .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .bottomUlList img {
              width: 146px;
              height: 146px; }
            .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .topUlList h5, .appSceneAll .appScene .sceneLeft .leftListTop .listTopUl .bottomUlList h5 {
              font-size: 20px;
              color: #333;
              margin-top: 30px;
              text-align: center;
              font-weight: normal; }
      .appSceneAll .appScene .sceneLeft .leftListBottom {
        width: 100%;
        height: 50%; }
        .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl {
          width: 100%;
          height: 100%;
          display: flex; }
          .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl .bottomUlList {
            width: 33%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center; }
            .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl .bottomUlList img {
              width: 146px;
              height: 146px; }
            .appSceneAll .appScene .sceneLeft .leftListBottom .listBottomUl .bottomUlList h5 {
              font-size: 20px;
              color: #333;
              margin-top: 30px;
              text-align: center;
              font-weight: normal; }
    .appSceneAll .appScene .sceneRight {
      width: 45%;
      height: 796px;
      background: #e7e7e7;
      float: left; }
      .appSceneAll .appScene .sceneRight .phone {
        width: 460px;
        height: 724px;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/phone.png") 0 0 no-repeat;
        background-size: 460px 724px;
        position: relative;
        top: 0;
        left: 0; }
        .appSceneAll .appScene .sceneRight .phone .phoneContent {
          width: 259px;
          height: 461px;
          position: absolute;
          top: 107px;
          left: 104px;
          overflow: hidden; }
          .appSceneAll .appScene .sceneRight .phone .phoneContent .contentImg {
            width: 518px;
            height: 475px;
            position: relative; }
            .appSceneAll .appScene .sceneRight .phone .phoneContent .contentImg .allImg {
              width: 518px;
              height: 475px;
              position: absolute; }
            .appSceneAll .appScene .sceneRight .phone .phoneContent .contentImg img {
              width: 259px;
              height: 475px;
              float: left; }
        .appSceneAll .appScene .sceneRight .phone .phoneBtn {
          width: 100px;
          height: 25px;
          position: absolute;
          left: 183px;
          bottom: 10px;
          background: #b6b6b6;
          text-align: center; }
          .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnLeft, .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnRight {
            display: inline-block;
            width: 24px;
            height: 15px;
            border-radius: 14px;
            background: #1599ff;
            margin-top: 5px; }
          .appSceneAll .appScene .sceneRight .phone .phoneBtn .btnRight {
            background: #fff; }

.classExmAll {
  width: 100%;
  height: 910px;
  background: bisque; }
  .classExmAll .classExm {
    width: 1120px;
    height: 910px;
    margin: 0 auto; }
    .classExmAll .classExm h2 {
      width: 118px;
      height: 28px;
      font-size: 28px;
      font-weight: normal;
      color: #333333;
      margin: 86px auto 121px; }
    .classExmAll .classExm .exmDet {
      width: 100%;
      height: 559px; }
      .classExmAll .classExm .exmDet .exmDetL, .classExmAll .classExm .exmDet .exmDetC {
        float: left;
        width: 265px;
        height: 559px;
        text-align: center; }
        .classExmAll .classExm .exmDet .exmDetL img, .classExmAll .classExm .exmDet .exmDetC img {
          width: 265px;
          height: 559px; }
        .classExmAll .classExm .exmDet .exmDetL h5, .classExmAll .classExm .exmDet .exmDetC h5 {
          margin-top: 31px;
          font-weight: normal;
          color: #3388ff;
          font-size: 20px; }
      .classExmAll .classExm .exmDet .exmDetC {
        margin-left: 80px; }
      .classExmAll .classExm .exmDet .exmDetR {
        float: left;
        margin-left: 153px;
        width: 265px;
        height: 559px;
        background: #b6b6b6; }
        .classExmAll .classExm .exmDet .exmDetR h3 {
          margin-top: 70px;
          font-size: 32px;
          color: #333333;
          font-weight: normal; }
        .classExmAll .classExm .exmDet .exmDetR h4 {
          margin-top: 86px;
          font-size: 24px;
          color: #666666;
          font-weight: normal;
          margin-bottom: 23px; }
        .classExmAll .classExm .exmDet .exmDetR .exmLine {
          width: 265px;
          display: block;
          margin-top: 36px;
          border: 1px dashed #e6e6e6;
          background: #e6e6e6; }
        .classExmAll .classExm .exmDet .exmDetR .detRCont {
          width: 225px;
          height: 140px; }
          .classExmAll .classExm .exmDet .exmDetR .detRCont .pointRate img, .classExmAll .classExm .exmDet .exmDetR .detRCont .pointPrice img, .classExmAll .classExm .exmDet .exmDetR .detRCont .Roi img {
            width: 44px;
            height: 44px;
            vertical-align: middle; }
          .classExmAll .classExm .exmDet .exmDetR .detRCont .pointRate h5, .classExmAll .classExm .exmDet .exmDetR .detRCont .pointPrice h5, .classExmAll .classExm .exmDet .exmDetR .detRCont .Roi h5 {
            font-size: 20px;
            color: #999;
            margin-left: 12px;
            display: inline-block;
            font-weight: normal; }
        .classExmAll .classExm .exmDet .exmDetR .exmDetRBtn {
          width: 140px;
          height: 40px;
          background: #3388ff;
          text-align: center;
          line-height: 40px;
          margin-top: 50px; }
          .classExmAll .classExm .exmDet .exmDetR .exmDetRBtn a {
            color: #fff; }

.medieAdvantageALl {
  width: 100%;
  height: 540px;
  background: #fafcfe; }
  .medieAdvantageALl .medieAdvantage {
    width: 1100px;
    height: 540px;
    margin: 0 auto; }
    .medieAdvantageALl .medieAdvantage h2 {
      width: 120px;
      font-size: 29.5px;
      font-weight: normal;
      color: #333333;
      margin: 86px auto 83px; }
    .medieAdvantageALl .medieAdvantage .AdvantageImgsecond, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth {
      margin-left: 44px; }
    .medieAdvantageALl .medieAdvantage .AdvantageTop {
      width: 46%;
      height: 138px;
      float: left;
      border-right: 1px dashed #efefef;
      border-bottom: 1px dashed #efefef; }
      .medieAdvantageALl .medieAdvantage .AdvantageTop .AdvantageImg {
        float: left;
        width: 50px;
        height: 50px; }
        .medieAdvantageALl .medieAdvantage .AdvantageTop .AdvantageImg img {
          width: 50px;
          height: 50px;
          vertical-align: middle; }
      .medieAdvantageALl .medieAdvantage .AdvantageTop .Advantagetitle {
        width: auto;
        height: 138px;
        margin-left: 76px; }
        .medieAdvantageALl .medieAdvantage .AdvantageTop .Advantagetitle h5 {
          margin-top: 2px;
          font-size: 18px;
          color: #333;
          font-weight: normal; }
        .medieAdvantageALl .medieAdvantage .AdvantageTop .Advantagetitle p {
          margin-top: 20px;
          font-size: 14px;
          color: #666; }
    .medieAdvantageALl .medieAdvantage .AdvantageImgthird, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth {
      border-bottom: none; }
      .medieAdvantageALl .medieAdvantage .AdvantageImgthird .AdvantageImg, .medieAdvantageALl .medieAdvantage .AdvantageImgthird .Advantagetitle, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth .AdvantageImg, .medieAdvantageALl .medieAdvantage .AdvantageImgfouth .Advantagetitle {
        margin-top: 53px; }
    .medieAdvantageALl .medieAdvantage .AdvantageImgfouth {
      margin-lef: 44px; }

.partenMediaAll {
  width: 100%;
  height: 536px;
  background: #ffffff; }
  .partenMediaAll .partenMedia {
    width: 100%;
    height: 536px;
    margin: 0 auto; }
    .partenMediaAll .partenMedia h2 {
      font-size: 29.5px;
      font-weight: normal;
      color: #333333;
      text-align: center;
      padding-top: 99px; }

.requireAddAll {
  width: 100%;
  height: 285px;
  padding-top: 120px;
  background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/sqrz.png") 0 0 no-repeat;
  background-size: 100% 285px;
  margin: 0 auto; }
  .requireAddAll .requireAdd {
    width: 234px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    background: #3388ff;
    margin: 0 auto; }
    .requireAddAll .requireAdd a {
      height: 40px;
      line-height: 40px;
      color: #fff;
      font-size: 23px; }

/*# sourceMappingURL=index.css.map */
