html,body{
  height: 100%;
  width:100%;
}
body{

  backgroud: red;
}

/*head部分*/

*{
   padding: 0;
   margin: 0;
  font-family: "PingFang SC";
 }
ul,ol,dl,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.head{
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 2px solid #edeeed;
}
.head-left{
  float: left;
  width: 405px;
  height: 70px;
  line-height: 70px;
  margin-left: 205px;
}
.head-left .leftChild{
  display: flex;
  height: 70px;
  line-height: 70px;
}
.head-left span{
  margin-top: 14px;
  width: 2px;
  height: 39px;
  line-height: 36px;
  margin-left: 9px;
  background-color: #cccccc;
}
.head-left b{
  margin-left: 16px;
  font-family: "Songti TC";
  font-size: 28px;
  color: #545454;
}
.head-left img{
  width: 110px;
  height: 33px;
  margin: 18px 9px 19px 0;
  vertical-align: center;
}
.head-center{
  float: left;
  height: 70px;
  line-height: 70px;
}

.head-center ,.head-center .centerUl{
  width: auto;
  height: 70px;
  line-height: 70px;
  display: inline-block;
}

.head-center .centerUl li{
  width: 60px;
  float: left;
  height: 70px;
  line-height: 70px;
  margin-left: 33px;
  display: inline-block;
  text-align: center;
  position: relative;
  /*border-bottom: 2px solid red;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.head-center .centerUl a{
  display: inline-block;
  width: 60px;
  height: 70px;
}
#actLine{
  width: 0px;
  height: 4px;
  border-radius: 4px;
  background-color: #e83928;
  margin: 0 auto;
  position: absolute;
  top: 66px;
  left: 0px;
  right: 0px;
  transition: width 1s linear;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -ms-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.centerLi:hover #actLine{
  width:60px;
}
.head-center li a{
  font-family: "PingFang SC";
  font-size: 14px;
  color: #333;
}
.head-center li:first-child{
  margin-left: 0;
}
.head-right{
  float: left;
  height: 70px;
  line-height: 70px;
  margin-left: 55px;
}
.head-right .login,.register{
  width: 79px;
  height: 30px;
  margin-top: 19px;
  line-height: 30px;
  text-align: center;
  border: 1px #2b90ed solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  background-color: #fff;
}
.head-right .register{
  margin-left: 10px;
  background-color: #2b90ed;
  border: 1px solid #2b90ed;
}
.login a {
  text-align: center;
  font-size: 14px;
  color: #2b90ed;
}
.register a{
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.head-right .login:hover{
  background-color: #2b90ed;
}
.head-right .login:hover a{
  color: #fff;
}
.head-right .register:hover{
  background-color: #2b7ded;
  border: 1px solid #2b90ed;
}
.head-right .register:hover a{
  color: #fff;
}
#register{
  width: 600px;
  height: 900px;
  border-radius: 3%;
  position: fixed;
  top: 52px;
  left: 30.5%;
  background: #fff;
  z-index: 10;
  display: none;
}
#register h2{
  width: 140px;
  height: 32px;
  font-size: 32px;
  color: #333333;
  font-weight: normal;
  padding-top: 40px;
  margin: 0 auto;
}
#register p{
  width: 400px;
  height: 15px;
  font-size: 14.5px;
  color: #666666;
  margin: 14px auto 0;
}
#register .regList{
  width: auto;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
}
#register .lastRegList {
  height: 152px;
}
#register .regList:first-child{
  margin-top: 40px;
}
#register .regList label{
  display: inline-block;
  width: 20%;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  text-align: right;
}
#register .regList input{
  width: 326px;
  height: 50px;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #dddddd;
  font-size: 14px;
  margin-left: 25px;
  padding-left: 15px;
}
#register textarea{
  width: 326px;
  height: 150px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 25px;
  padding-left: 15px;
}
input::-webkit-input-placeholder{
  color: #bbbbbb;
  font-size: 14px;
  /*padding-left: 15px;*/
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #bbbbbb;
  font-size: 14px;
  /*padding-left: 15px;*/
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #bbbbbb;
  font-size: 14px;
  /*padding-left: 15px;*/
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: #bbbbbb;
  font-size: 14px;
  /*padding-left: 15px;*/
}
#register button{
  display: block;
  width: 300px;
  height: 50px;
  margin: 50px auto 0;
  background-color: #1674f7;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#register span{
  display: block;
  width: 160px;
  heigth: 14px;
  line-height: 14px;
  margin: 10px auto 0;
  color: #999;
  font-size: 14px;
}
#register span a{
  color: #1674f7;
}
#closeReg{
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  top: 16px;
  right: 17px;
  font-style: normal;
  font-size: 29px;
  color: #484848;
  text-align: center;
}
#register .regList{}
#register label{

}


/*footer部分*/
footer{
  width: 100%;
  height: 395px;
  background-color: #373d45;
}
footer section{
  width: 1120px;
  height: 310px;
  margin-left: 205px;
  border-bottom: 1px solid #5a5f64;
}
section .foot-left{
  width: 606px;
  float: left;
  margin-top: 75px;
}
section .foot-center{
  width: auto;
  float: left;
  margin-top: 75px;
}
section .foot-center h4{
  margin-top: 17px;
}
section .foot-right{
  float: right;
  margin-top: 75px;
  margin-right: 56px;
}
section .foot-right img{
  width: 117px;
  height: 117px;
  border: none;
}
section h3{
  font-family: "PingFang SC";
  font-size: 20px;
  color: #fff;
  margin-bottom: 35px;
}
section h4,section h4 a{
  font-family: "PingFang SC";
  font-size: 14px;
  color: #dcdcdd;
  font-weight: normal;
}
section h4{
  margin-top: 28px;
}
section .foot-address{
  height: 20px;
  margin-top: 8px;
}
footer .declare p{
  width: 1120px;
  margin-left: 205px;
  font-family: "PingFang SC";
  font-size: 14px;
  color: #dcdcdd;
  margin-top: 20px;
  text-align:center
}


/*弹窗*/
.applyFormBox {
  width: 780px;
  height: 630px;
  background-color: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  -ms-transform:translate(-50%);   /* IE 9 */
  -moz-transform:translate(-50%);   /* Firefox */
  -webkit-transform:translate(-50%); /* Safari 和 Chrome */
  -o-transform:translate(-50%);   /* Opera */
  z-index: 999;
  border-radius: 10px;
  padding: 20px 60px;
}
.closeFormBoxBtn {
  width: 32px;
  height: 32px;
  background: url('http://imgcow.oss-cn-hangzhou.aliyuncs.com/Website/Img/formCloseBtnIcon.png')no-repeat center/100% 100%;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.welcomeApply{
  text-align: center;
  color: #333;
  font-size: 32px;
  padding-top: 12px;
  font-weight: 300;
  padding-bottom: 8px;
}
.formTopTip {
  font-size: 14px;
  color: #666;
  text-align: center;
  font-weight: 300;
}
.applyFormBox input {
  border: 1px solid #ddd;
  width: 340px;
  height: 40px;
  padding: 0 10px;
  border-radius: 3px;
  color: #666;
}
::-webkit-input-placeholder{
  color: #ddd;
  font-weight: lighter;
}    /* 使用webkit内核的浏览器 */
:-moz-placeholder{
  color: #ddd;
  font-weight: lighter;
}                  /* Firefox版本4-18 */
::-moz-placeholder{
  color: #ddd;
  font-weight: lighter;
}                  /* Firefox版本19+ */
:-ms-input-placeholder{
  color: #ddd;
  font-weight: lighter;
}           /* IE浏览器 */
.lineOneLeft {
  float: left;
  margin-right: 55px;
}
.applyFormBox p {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  padding: 20px 0 5px 0;
}
.applyFormBox select {
  width: 360px;
  height: 40px;
  border: 1px solid #ccc;
}
#usertextArea {
  width: 100%;
  height: 110px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  border: 1px solid #ccc;
  border-radius: 3px;
}
#applyFormSubmitBtn {
  width: 300px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  background-color: #1674f7;
  color: #fff;
  margin: 30px auto 0;
}
.applyFormBgBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba( 0, 0, 0, 0.6);
}
ul.areaList{
  position: absolute;
  top: 87px;
  left: 0;
  width: 330px;
  padding: 10px 15px;
  height: 190px;
  background: #fff;
  border: solid 1px #ddd;
  border-top: none;
  font-size: 0;
}
ul.areaList li{
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 12px;
  color: #999;
  font-weight: lighter;
  cursor: pointer;
}
ul.areaList li.active{
  color: #1a73f0;
}
/*E=申请表格弹窗*/
.toLogin{
  margin-top: 10px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #999;
  font-weight: lighter;
}