<style>

</style>

<header class="head">
    <div class="head-left">
        <div class="leftChild">
            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/btlogo.png" alt="logo">
            <span></span>
            <b>百泰传媒</b>
        </div>
    </div>
    <div class="head-center">
        <ul class="centerUl">
            <li class="centerLi">
                <a href="javascript:;">首页</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">来推互动</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">来推云</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">成功案例</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">公司动态</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">关于我们</a>
                <div id="actLine"></div>
            </li>
        </ul>
    </div>
    <div class="head-right">
        <div class="login">
            <a href="//laitui.adbaitai.com/login">登录</a>
        </div>
        <div class="register">
            <a href="javascript:void(0);">注册</a>
        </div>
    </div>
</header>