<header class="head">
    <div class="head-left">
        <div class="leftChild">
            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/btlogo.png" alt="logo">
            <span></span>
            <b>百泰传媒</b>
        </div>
    </div>
    <div class="head-center">
        <ul class="centerUl">
            <li class="centerLi">
                <a href="javascript:;">首页</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">来推互动</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">来推云</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">成功案例</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">公司动态</a>
                <div id="actLine"></div>
            </li>
            <li class="centerLi">
                <a href="">关于我们</a>
                <div id="actLine"></div>
            </li>
        </ul>
    </div>
    <div class="head-right">
        <div class="login">
            <a href="//laitui.adbaitai.com/login">登录</a>
        </div>
        <div class="register">
            <a href="javascript:void(0);">注册</a>
        </div>
    </div>
    <div id="register">
        <h2>欢迎注册</h2>
        <p>请填写一下信息，以便我们能更好的了解您的需求和帮助您</p>
        <form action="">
            <div class="regList">
                <label for="userName">姓名</label>
                <input type="text" id="userName" placeholder="请输入姓名">
            </div>
            <div class="regList">
                <label for="userPhone">手机号码</label>
                <input type="text" id="userPhone" placeholder="请输入手机号码">
            </div>
            <div class="regList">
                <label for="qqEmail">QQ邮箱</label>
                <input type="text" id="qqEmail" placeholder="请输入邮箱地址">
            </div>
            <div class="regList">
                <label for="userCom">公司</label>
                <input type="text" id="userCom" placeholder="请输入公司名称">
            </div>
            <div class="regList">
                <label for="userAdd">所属区域</label>
                <input type="text" id="userAdd" placeholder="请选择">
            </div>
            <div class="regList">
                <label for="userUrl">公司网址</label>
                <input type="text" id="userUrl" placeholder="请输入公司网址">
            </div>
            <div class="regList lastRegList">
                <label for="userReq">您的需求</label>
                <textarea name="" id="userReq" cols="30" rows="10"></textarea>
                <!--<input type="textarea" id="userReq" placeholder="请输入您的需求">-->
            </div>




            <button>注册</button>
            <span>已有账号？<a href="//laitui.adbaitai.com/login">立即登录</a></span>
            <i id="closeReg">X</i>

        </form>
    </div>
</header>