<footer>
    <section>
        <ul class="foot-left">
            <h3>联系我们</h3>
            <h4>电话： 400-826-0750（工作日 9:00-18:00）
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;185 0551 0571
            </h4>
            <h4>邮箱： baitai@adbaitai.com</h4>
            <h4>地址： 杭州市天目山路217号江南电子大厦10楼</h4>
            <h4 style="margin-top:6px;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;北京市朝阳区西大望甲路12号国家广告产业园B座602室</h4>

        </ul>
        <ul class="foot-center">
            <h3>关于我们</h3>
            <h4><a href="./about.html">公司介绍</a></h4>
            <h4><a href="./about.html">发展历程</a></h4>
            <h4><a href="./about.html">联系我们</a></h4>
            <h4><a href="./dynamic.html">公司动态</a></h4>
        </ul>
        <ul class="foot-right">
            <h3>关注我们</h3>
            <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/wechat.png" alt="">
        </ul>
    </section>
    <div class="declare">
        <p>Copyright © 2018  adbaitai.com  版权所有  浙ICP备16030779号-2</p>
    </div>
</footer>