<style>
    .indexbanner{
        width: 100%;
        height: 425px;
        background: #1c294f;
    }
    .indexbanner .indexbanner-box{
        width: 1100px;
        margin: 0 auto;
        height: 425px;
    }
    .indexbanner .indexbanner-box a{
        width: 100%;
        height: 425px;
        display: block;
    }
    
    .product {
        width: 100%;
        height: 655px;
    }
    .proSuggest {
        margin: 90px auto 0;
        width: 1100px;
        text-align: center;
        color: #333;
    }
    .proSuggest h2 {
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        font-weight: 400;
    }
    .proSuggest p {
        line-height: 21px;
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #999;
        font-weight: 300;
    }
    .proSuggest .sugDetail {
        height: 525px;
    }
    .detLeft {
        width: 383px;
        height: 525px;
        background-color: #fff;
        float: left;
        text-align: left;
    }
    .detLeft .delName {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 55px;
    }
    .detLeft .delName li {
        width: 383px;
        height: 86px;
        font-size: 18px;
        font-weight: 300;
        padding-top: 12px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #666;
    }
    .detLeft .delName li:hover {
        box-shadow: 2px 2px 20px #b2d8ff;
        color: #2b90ed;
    }

    .detLeft .delName img {
        width: 61px;
        height: 61px;
        margin-left: 61px;
        vertical-align: middle;
    }

    .detLeft .delName .moreBtn {
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #3388ff;
        margin-left: 61px;
        margin-top: 24px;
        background: #3388ff;
    }
    .detLeft .delName .moreBtn:hover{
        background-color: #1674f7;
        border: 1px solid #1674f7;
    }
    .detLeft .delName span{
        margin-left: 28px;
    }
    .moreBtn a {
        color: #ffffff;
    }

    .detRight, .detTab, .detTab1, .detTab2, .detTab3 {
        width: 685px;
        height: 483px;
        float: left;
        position: relative;
        top: 0;
        left: 0;
        display: none;
    }
    .detRight{
        margin-left: 27px;
        display: block;
    }
    .detRight .detTab{
        display: block;
    }
    .detRight .sImg1,.detRight .sImg2,.detRight .sImg1 img, .detRight .sImg2 img{
        width: 185px;
        height: 164px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .detTab .bigImg{
        margin-top: 58px;
        margin-left: 16px;
        width: 539px;
        height: 401px;
        background: url(http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ymBig.png) no-repeat;
        background-size: 642px 394px;
    }
    .detTab1 .bigImg{
        margin-top: 58px;
        margin-left: 16px;
        width: 539px;
        height: 401px;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/viBig.png") no-repeat;
        background-size: 642px 394px;
    }
    .detTab2 .bigImg{
        margin-top: 58px;
        margin-left: 16px;
        width: 573px;
        height: 401px;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/jfBig.png") no-repeat;
        background-size: 642px 394px;
    }
    .detTab3 .bigImg{
        margin-top: 58px;
        margin-left: 16px;
        width: 539px;
        height: 401px;
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/sjBig.png") no-repeat;
        background-size: 642px 394px;
    }
    .detRight .sImg1{
        position: absolute;
        top: 199px;
        left: 73px;
    }
    .detRight .sImg2{
        position: absolute;
        top: 86px;
        left: 431px;
    }
    .detTab1 .sImg1{
        position: absolute;
        top: 222px;
        left: 21px;
    }
    .detTab1 .sImg2{
        position: absolute;
        top: 51px;
        left: 467px;
    }
    .detTab2 .sImg1{
        position: absolute;
        top: 38px;
        left: 72px;
        width: 159px;
        height: 159px;
    }
    .detTab2 .sImg2{
        position: absolute;
        top: 74px;
        left: 458px;
    }
    .detTab3 .sImg1 {
        position: absolute;
        top: 192px;
        left: 305px;
        width: 296px;
        height: 256px;
    }
    .detTab3 .sImg1 img{
        width: 296px;
        height: 256px;
    }
    /*来推云*/
    .action {
        padding-top: 86px;
        width: 100%;
        height: 800px;
        background-color: #fafcfe;
    }

    .actionSuggest {
        margin: 0 auto;
        width: 1100px;
        height: 161px;
        text-align: center;
        color: #333;
    }
    .actionSuggest h2 {
        font-size: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: 400;
    }
    .actionSuggest p {
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #999;
    }

    .actionSuggest .actDet {
        width: 1065px;
        margin-top: 80px;
        margin-left: 35px;
    }

    .actionSuggest .actDet li {
        width: 193px;
        height: 410px;
        margin-left: 85px;
        float: left;

    }
    .actionSuggest .actDet img{
        -webkit-box-shadow: 1px 1px 52px #a5ccf4;
        -moz-box-shadow: 1px 1px 52px #a5ccf4;
        box-shadow: 1px 1px 52px rgba(165,204,244,0.5);
    }
    .actionSuggest .actDet li:first-child {
        margin-left: 0px;
    }
    .actDet li span {
        display: block;
        margin-top: 22px;
        width: 193px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #feffff;
        color: #3388ff;
        font-size: 14px;
        box-shadow: 1px 1px 52px rgba(165,204,244,0.3);
    }
    .actionSuggest .actDet img {
        width: 193px;
        height: 345.5px;
    }
    .actionSuggest .actBtn {
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: block;
        margin: 75px auto 70px;
        background: #3388ff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
    }
    .actionSuggest .actBtn:hover{
        background-color: #1674f7;
    }
    /*btdata*/
    .btData{
        background: url("http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/sjbj.png") no-repeat 0 0;
        background-size: 100% 335px;
    }
    .btData .dataDet{
        width: 1100px;
        height: 335px;
        text-align: center;
        margin: 0 auto;
    }
    .btData #dataList{
        width: 1100px;
        display: flex;
        justify-items: center;
    }
    .btData h2 {
        padding-top: 75px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        font-weight: 400;
        color: #fdfdfd;
        letter-spacing: 1px;
    }
    .btData .dataItem{
        width: 33%;
        height: 72.5px;
        float: left;
        margin-top: 68px;
    }
    .btData .dataItem h3{
        height: 43px;
        line-height: 43px;
        font-size: 43px;
        color: #fdfdfd;
        font-weight: normal;
    }
    .btData .dataItem p{
        height: 15px;
        line-height: 15px;
        font-size: 15px;
        color: #fdfdfd;
        margin-top: 12px;
        font-weight: 300;
    }
    .user{
        width: 100%;
    }
    .user .userChd{
        width: 1100px;
        margin: 0 auto;
        padding-bottom: 105px;
    }
    .user .userChd h2{
        padding-top: 81px;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: normal;
        color: #333;
        text-align: center;
    }
    .user .userChd img{
        margin-top: 40px;
        margin-left: 18px;
        width: 1064px;
        height: 300px;
    }
    .indexbanner-box .indexbanner-box-left{
        float: left;
        width: 427px;
        padding-left: 68px;
        padding-top:103px;
        height: 322px;
    }
    .indexbanner-box .indexbanner-box-right{
        float: left;
        width: 575px;
        padding-right: 30px;
        height: 425px;
    }
    .indexbanner-box-left-tit{
        line-height: 74px;
        height: 148px;
        width: 100%;
        font-size: 48px;
        color: #f4f4f4;
        font-weight: 300;
    }
    .indexbanner-box-left-box{
        margin-top: 31px;
        height: 34px;
        width: 120px;
        line-height: 34px;
        font-size: 14px;
        font-weight: lighter;
        color: #f4f4f4;
        text-align: center;
        border: solid 1px #fff;
    }
</style>

<div class="indexbanner">
    <div class="indexbanner-box">
        <a href="//ltyun.adbaitai.com" target="_blank">
            <div class="indexbanner-box-left">
                <div class="indexbanner-box-left-tit">全球首家互动平台<br>定制SAAS服务商</div>
                <div class="indexbanner-box-left-box">查看更多</div>
            </div>
            <div class="indexbanner-box-right">
                <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/index-banner-1.png" height="425px">
            </div>
        </a>
    </div>
 </div>
<div class="product">
    <div class="proSuggest">
        <h2>用来推云，快速搭建自己的互动广告平台</h2>
        <p>为您独家定制个性化高效智能的互动广告平台，帮助中小型传统广告公司开拓新媒体业务，互联网转型等技术难题，实现流量变现，数据可视化，让广告公司和
            <br/>品牌客户拥有自主的互动广告投放平台</p>
        <div class="sugDetail">
            <div class="detLeft">
                <ul class="delName">
                    <li>
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/dlym.png" alt="">
                        <span>独立域名、云空间</span>
                    </li>
                    <li>
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/logo.png" alt="">
                        <span>独立LOGO、独立VI</span>
                    </li>
                    <li>
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/jffs.png" alt="">
                        <span>灵活计费方式</span>
                    </li>
                    <li>
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/sj.png" alt="">
                        <span>独立数据中心</span>
                    </li>
                    <div class="moreBtn">
                        <a href="//ltyun.adbaitai.com" target="_blank">了解更多</a>
                    </div>
                </ul>
            </div>
            <div class="detRight">
                <div class="detTab">
                    <div class="bigImg">
                    </div>
                    <div class="sImg1">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/yms.png" alt="">
                    </div>
                    <div class="sImg2">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ykjs.png" alt="">
                    </div>
                </div>
                <div class="detTab1">
                    <div class="bigImg"></div>
                    <div class="sImg1">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/logos.png" alt="">
                    </div>
                    <div class="sImg2">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/vis.png" alt="">
                    </div>
                </div>
                <div class="detTab2">
                    <div class="bigImg"></div>
                    <div class="sImg1">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/djs.png"
                             style="width:159px;height: 159px;">
                    </div>
                    <div class="sImg2">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/fds-1.png"
                             style="width:149px;height: 149px;">
                    </div>
                </div>
                <div class="detTab3">
                    <div class="bigImg"></div>
                    <div class="sImg1">
                        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/sjs.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="action">
    <div class="actionSuggest">
        <h2>来推互动</h2>
        <p>来推互动是百泰传媒旗下最新的互动式效果广告平台，一方面为品牌方提供最高效的广告投放，另一方面为内容方提供可靠的流量变现平台，致力于成为全球流量
            <br/>
            &nbsp;变现先行者。来推互动精准定位目标人群，通过游戏互动等形式深入到用户移动手机使用场景中。目前来推互动月活跃用户3亿，日曝光15亿，新增媒体15000家，
            <br/>
            合作客户遍布全国。
        </p>
        <div class="actDet">
            <ul class="actImg">
                <li>
                    <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/rkw.png" alt="">
                    <span>入口位</span>
                </li>
                <li><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/yxhd.png" alt=""> <span>互动游戏</span></li>
                <li><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ggtc.png" alt=""> <span>广告弹窗</span></li>
                <li><img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/ggzldy.png" alt=""> <span>广告主落地页</span></li>
                <div style="clear: both; zoom:1"></div>
            </ul>
        </div>
        <a class="actBtn" href="./laituiInt.html">了解更多</a>
    </div>

</div>
<div class="btData">
    <div class="dataDet">
        <h2>百泰数据</h2>
        <div id="dataList">
            <div class="dataItem">
                <h3><span id="data1">0</span>+</h3>
                <p>定制合作方</p>
            </div>
            <div class="dataItem">
                <h3><span id="data2">1亿</span>+</h3>
                <p>月活跃用户</p>
            </div>
            <div class="dataItem">
                <h3><span id="data3">0亿</span></h3>
                <p>日曝光</p>
            </div>
            <div class="dataItem">
                <h3><span id="data4">0</span>+</h3>
                <p>新增媒体</p>
            </div>
        </div>
    </div>
</div>
<div class="user">
    <div class="userChd">
        <h2>他们都在用来推</h2>
        <img src="http://imgcow.oss-cn-hangzhou.aliyuncs.com/btweb/laituiweb/mtyh.png" alt="">
    </div>
</div>
